@import "common";
@import "reset-material";

$main-color: #2baa3f;
$red: #f44330;
$blue:#03a9f4;
$yellow:#ff9800;
$nav-item-height: 32px;
$toolbar-height: 64px;

.light-green{
  color:#2baa3f;
}
.light-blue{
  color:$blue;
}
.light-red{
  color:$red;
}
.light-yellow{
  color:$yellow;
}
.bg-green{
  background: $main-color;
}
.bg-blue{
  background: $blue;
}
.bg-yellow{
  background: $yellow;
}
.bg-red{
  background: $red;
}
.icon-member-index {
  background: url("../../statics/images/icon/icon_member_index.png") no-repeat;
  background-size: 20px 20px;
}

.icon-member-list {
  background: url("../../statics/images/icon/icon_member_list.png") no-repeat;
  background-size: 20px 20px;
}

.icon-almost-expire-member-list {
  background: url("../../statics/images/icon/icon_almost_expire_member_list.png") no-repeat;
  background-size: 20px 20px;
}

.icon-expire-member-list {
  background: url("../../statics/images/icon/icon_expire_member_list.png") no-repeat;
  background-size: 20px 20px;
}

.icon-birthday-member-list {
  background: url("../../statics/images/icon/icon_birthday_member_list.png") no-repeat;
  background-size: 20px 20px;
}

.icon-member-card-process-list {
  background: url("../../statics/images/icon/icon_member_card_process_list.png") no-repeat;
  background-size: 20px 20px;
}

.icon-member-trade-index {
  background: url("../../statics/images/icon/icon_trade_index.png") no-repeat;
  background-size: 20px 20px;
}

.icon-member-trade-list {
  background: url("../../statics/images/icon/icon_recharge_list.png") no-repeat;
  background-size: 20px 20px;
}

.icon-complaint-list {
  background: url("../../statics/images/icon/icon_complaint_list.png") no-repeat;
  background-size: 20px 20px;
}

.icon-store-list {
  background: url("../../statics/images/icon/icon_shop_list.png");
  background-size: 100%;
}

.icon-member-card-list {
  background: url("../../statics/images/icon/icon_member_card_list.png") no-repeat;
  background-size: 20px 20px;
}

.icon-employee-list {
  background: url("../../statics/images/icon/icon_employee_list.png") no-repeat;
  background-size: 100%;
}

.icon-integral-ranking {
  background: url("../../statics/images/icon/icon_integral_ranking.png") no-repeat;
  background-size: 20px 20px;
}
.icon-locker-list {
  background: url("../../statics/images/icon/icon_locker_list.png") no-repeat;
  background-size: 20px 20px;
}
.icon-locker-record-list {
  background: url("../../statics/images/icon/icon_locker_record_list.png") no-repeat;
  background-size: 20px 20px;
}
.icon-locker-setting-list {
  background: url("../../statics/images/icon/icon_locker_setting_list.png") no-repeat;
  background-size: 20px 20px;
}
.icon-privately-class-setting {
  background: url("../../statics/images/icon/icon_privately_class.png") no-repeat;
  background-size: 20px 20px;
}
.icon-privately-sign-list{
  background: url("../../statics/images/icon/icon_privately_sign.png") no-repeat;
  background-size: 20px 20px;
}
.icon-privately-purchase-list{
  background: url("../../statics/images/icon/icon_privately_purchase.png") no-repeat;
  background-size: 20px 20px;
}
.icon-privately-class-tranfer-list{
  background: url("../../statics/images/icon/icon_privately_class_tranfer.png") no-repeat;
  background-size: 20px 20px;
}
.icon-sales-record-index{
  background: url("../../statics/images/icon/icon_sales_index.png") no-repeat;
  background-size: 20px 20px;
}
.icon-sales-record-list{
  background: url("../../statics/images/icon/icon_sales_list.png") no-repeat;
  background-size: 20px 20px;
}
.icon-member-entrance-list{
  background: url("../../statics/images/icon/icon_member_entrance.png") no-repeat;
  background-size: 20px 20px;
}
.icon-auth-setting-list{
  background: url("../../statics/images/icon/icon_auth_setting_list.png") no-repeat;
  background-size: 100%;
}
.icon-log-list{
  background: url("../../statics/images/icon/icon_log_list.png") no-repeat;
  background-size: 100%;
}
.icon-backup-data{
  background: url("../../statics/images/icon/icon_backup_data.png") no-repeat center;
  background-size: 100%;
}
.icon-attention{
  background: url("../../statics/images/icon/icon_attention.png") no-repeat;
  background-size: 20px 20px;
}
/*录入会员*/
.avatar {
  margin-bottom: 30px;
  img {
    width: 200px;
    height: 200px;
  }
}

//上传头像
.upload-avtar-container {
  width: 200px;
  margin: 0 auto;
  .default-avatar {
    $avatar-size: 200px;
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 100px;
    display: block;
    overflow: hidden;
    position: relative;
    input[type='file'] {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: $avatar-size;
    }
    img {
      max-width: 100%;
      height: auto;
    }
    .upload-avatar-loading{
      width: $avatar-size;
      height: $avatar-size;
      border-radius: 100px;
      text-align: center;
      background:rgba(0,0,0,.7)!important;
      position: absolute;
      top:0;
      left:0;
      md-progress-circular {
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
      }
    }
  }
  .btn-upload-img{
    margin:10px 0!important;
  }
  .btn-carmera{
    margin-top: 15px!important;
  }

}

.details-label {
  font-size: 12px;
  position: relative !important;
}

/*会员详情面板*/
.member-detail-panel {
  height:900px;
  overflow: hidden;
  //width: 1200px;
  //position: fixed;
  //bottom: -1250px;
  //bottom:0;
  //right: 0;
  //background: #fff;
  //width: 100%;
  //z-index: 9999999;
  //transition: all .6s;
  //&.show {
  //  transform: translateY(-1250px);
  //}
  .panel-header {
    padding-left: 16px;
    line-height: $toolbar-height;
    background: $main-color;
    color: #fff;
    .md-button {
      width: $toolbar-height;
      height: $toolbar-height;
    }
  }
  .panel-content {
    .default-avatar {
      $avatar-size: 200px;
      margin-bottom: 30px;
      width: $avatar-size;
      height: $avatar-size;
      border-radius: 100px;
      overflow: hidden;
      display: block;
      img {
        width: $avatar-size;
        height: $avatar-size;
      }
    }
    .member-basic-info {
      h2 {
        margin-bottom: 15px;
      }
      span {
        font-size: 14px;
      }
      p {
        margin-bottom: 5px;
        color: $gray;
      }
    }
  }
}

/*储物柜*/
.locker-item{
  background: #fff;
  position: relative;
  .widget-middle{
    padding:30px 16px;
  }
  &:hover{
    cursor: pointer;
    .is-operate{
      display: block;
    }
    .is-hire{
      background: rgba(255,255,255,1);
    }
  }
}

.is-hire{
  position: absolute;
  background: rgba(255,255,255,.7);
  width: 100%;
  height:100%;
  z-index: 1;
  img{
    width: 20%;
    height:auto;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
}
.is-operate{
  display: none;
  @extend .is-hire;
  background: rgba(255,266,255,.9);
  z-index: 2;
  .operate-button{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
}

.locker-dialog{
  width:500px;
}

.lease-details{
  font-size: 14px;
  color:#666;
  p{
    margin-top: 5px;
  }
}

//全局搜索
.global-search-container{
  font-size: 14px;
}
.global-search-input{
  background: #fff;
  height:64px;
  line-height:64px;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  z-index: 100;
  input{
    height:64px;
    line-height:64px;
    width: 100%;
    padding-left: 30px;
  }
  .close-global-search{
    margin: 0;
    height:$toolbar-height;
    line-height:$toolbar-height;
    md-icon{
      color:rgba(0,0,0,.5)!important;
    }
  }
}

.global-search-result{
  //display: none;
  position: absolute;
  top:64px;
  left:2%;
  background: #fff;
  width: 96%;
  padding:30px;
  overflow: hidden;
  z-index: 101;
  .result-container{
    max-height: 400px;
    height:auto;
  }
  .no-result{
    position: relative;
    color:#999;
    padding-left:30px;
    .icon{
      display: block;
      position: absolute;
      top:0;
      left:0;
      margin:0;
    }
  }
  .loading{
    md-progress-circular{
      margin:0 auto;
    }
    svg{
      width: 25px;
      height:25px;
    }
  }
  .result-type-title{
    font-weight: 700;
    font-size: 16px;
    border-bottom:1px solid #ddd;
    padding-bottom:15px;
  }
  .result-list{
    margin-top: 15px;
    li{
      margin: 15px 0;
      a{
        color:#666;
        &:hover{
          color:$main-color;
        }
      }
      span{
        margin-right: 10px;
      }
    }
    img{
      //display: inline-block;
      width: 20px;
      height:20px;
      border-radius: 100%;
      margin-right:10px;
      vertical-align: middle;
    }
  }
}

/*系统设置菜单*/
.system-setting-container{
  width: 100%;
  background: #fff;
  position: absolute;
  z-index: 2;
  transform: translateY(-250px);
  transition: .5s all;
  &.show{
    transform: translateY(64px);
  }
  ul{
    padding:8px 0;
    overflow: hidden;
  }
  li{
    width: 20%;
    float: left;
    text-align: center;
  }
  .icon{
    width:$toolbar-height;
    height:$toolbar-height;
    margin-left: 25%;
  }
  a{
    color:$gray;
    width: 128px;
    height:auto!important;
  }
  p{
    margin: 15px 0;
  }
}

.auth-action{
  padding:30px;
  background: #fff;
}
.auth-header{
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
.auth-title{
  color:$main-color;
  font-weight:700;
}
.auth-inner-container{
  margin-top: 30px;
  .auth-list-container{
    margin-top: 15px;
  }
}