@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, figure {
  margin: 0;
  padding: 0;
  line-height: 1.4; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  font-weight: 400; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 20px; }

address, cite, dfn, em, var {
  font-style: normal; }

code, kbd, pre, samp {
  font-family: couriernew, courier, monospace; }

small {
  font-size: 12px; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

legend {
  color: #000; }

fieldset, img {
  border: 0; }

button, input, select, textarea {
  font-size: 100%;
  outline: medium;
  border: 0; }

button {
  cursor: pointer; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.page-animate.ng-enter {
  animation: movein .9s ease both; }

.page-animate.ng-leave {
  animation: moveout .9s ease both; }

@keyframes movein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes moveout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
md-input-container {
  display: inline-block;
  position: relative;
  margin: 18px 0 !important;
  vertical-align: middle; }

md-input-container.md-default-theme .md-input,
md-input-container .md-input {
  border-color: rgba(0, 0, 0, 0.15); }

md-input-container.md-default-theme .md-input[disabled],
md-input-container .md-input[disabled],
[disabled] md-input-container.md-default-theme .md-input,
[disabled] md-input-container .md-input {
  background-image: none;
  border-color: rgba(0, 0, 0, 0.15); }

md-select.md-default-theme[disabled] .md-select-value,
md-select[disabled] .md-select-value {
  background-image: none;
  border-color: rgba(0, 0, 0, 0.15); }

.md-datepicker-input-container {
  padding-bottom: 10px !important; }

.md-icon-button + .md-datepicker-input-container {
  margin-left: 0 !important; }

._md-datepicker-floating-label._md-datepicker-has-calendar-icon > label:not(.md-no-float):not(.md-container-ignore) {
  left: 0 !important; }

md-datepicker {
  margin-right: 22px !important;
  padding-right: 0 !important; }

.md-datepicker-expand-triangle {
  left: 17% !important; }

md-tooltip {
  z-index: 9999999 !important; }

md-toast {
  z-index: 9999999999 !important; }

md-ink-bar {
  background: #2baa3f !important; }

.md-tab.md-active {
  color: #2baa3f !important; }

md-checkbox.md-default-theme.md-checked .md-ink-ripple, md-checkbox.md-checked .md-ink-ripple {
  color: #2baa3f !important; }

md-checkbox.md-default-theme:not([disabled]).md-primary.md-checked ._md-icon,
md-checkbox:not([disabled]).md-primary.md-checked ._md-icon {
  background: #2baa3f !important; }

md-checkbox.md-default-theme.md-checked .md-icon,
md-checkbox.md-checked .md-icon {
  background: #2baa3f !important; }

md-select-menu.md-default-theme md-content md-option[selected],
md-select-menu md-content md-option[selected] {
  color: #2baa3f !important; }

.md-checkbox-enabled.md-default-theme[selected] .md-icon,
.md-checkbox-enabled[selected] .md-icon {
  background: #2baa3f !important;
  color: #2baa3f !important; }

.md-button.md-default-theme.md-primary.md-raised,
.md-button.md-primary.md-raised,
.md-button.md-default-theme.md-primary.md-fab,
.md-button.md-primary.md-fab {
  background: #2baa3f !important; }

.md-button.md-default-theme.md-raised[disabled],
.md-button.md-raised[disabled],
.md-button.md-default-theme.md-fab[disabled],
.md-button.md-fab[disabled] {
  background: #ddd !important; }

.md-button.md-default-theme.md-primary,
.md-button.md-primary {
  color: #2baa3f; }

md-progress-circular.md-default-theme path,
md-progress-circular path {
  stroke: #2baa3f !important; }

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
  background: #2baa3f; }

/*icon*/
.icon {
  width: 20px;
  height: 20px;
  margin-top: 14px;
  margin-right: 16px;
  display: block; }

.width-5 {
  width: 5%; }

.width-10 {
  width: 10%; }

.width-15 {
  width: 15%; }

.width-20 {
  width: 20%; }

.width-25 {
  width: 25%; }

.width-30 {
  width: 30%; }

.width-35 {
  width: 35%; }

.width-40 {
  width: 40%; }

.width-45 {
  width: 45%; }

.width-50 {
  width: 50%; }

.width-55 {
  width: 55%; }

.width-60 {
  width: 60%; }

.width-65 {
  width: 65%; }

.no-data {
  color: #999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .no-data .attention-note {
    margin-left: 5px; }
  .no-data .icon {
    margin-top: 0 !important; }

/*登录*/
.login-wrapper {
  width: 100%;
  height: 100%; }
  .login-wrapper.hide-login {
    transform: translateY(-1000px);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
  .login-wrapper .login-container {
    width: 900px;
    height: 560px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px; }
    .login-wrapper .login-container .login-left {
      background: url("../images/bg_login_left.png") no-repeat;
      background-size: 100%; }
      .login-wrapper .login-container .login-left img {
        width: 100%;
        height: auto; }
    .login-wrapper .login-container .login-right {
      padding: 80px 100px;
      background: #fff; }
      .login-wrapper .login-container .login-right .logo {
        display: block;
        background: url("../images/login_logo.png") no-repeat left;
        background-size: 50%; }
    .login-wrapper .login-container .login-form {
      margin-top: 50px; }
      .login-wrapper .login-container .login-form .md-button {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important; }
      .login-wrapper .login-container .login-form .error {
        color: #f44330; }
      .login-wrapper .login-container .login-form .reset-error {
        color: #fff; }

.logo {
  height: 64px;
  line-height: 64px;
  text-align: center;
  background: #2baa3f url("../../statics/images/logo.png") no-repeat center;
  background-size: 101.33333px 32.33333px;
  color: #fff; }

.header-right-toolbar {
  color: #333 !important;
  background: #fff !important;
  height: 64px;
  min-height: 64px;
  max-height: 64px;
  z-index: 8; }

.right-content {
  position: relative; }

.right-toolbar-menu {
  height: 64px;
  position: relative; }

.side-nav {
  background: #2D323E;
  color: #fff; }
  .side-nav md-toolbar {
    height: 64px;
    min-height: 64px;
    max-height: 64px; }

.side-nav-list, .scroll-bar {
  overflow: hidden;
  position: relative; }

.nav-item {
  margin-top: 8px;
  height: 32px;
  line-height: 32px; }
  .nav-item .title {
    color: #666;
    padding-left: 24px; }

.sub-nav-list .item {
  font-size: 14px;
  height: 48px;
  line-height: 48px; }
  .sub-nav-list .item .item-button {
    color: #fff;
    display: flex;
    padding-left: 24px;
    position: relative; }
    .sub-nav-list .item .item-button:hover {
      background: #292D38; }
    .sub-nav-list .item .item-button.active span, .sub-nav-list .item .item-button.active i {
      opacity: 1; }
    .sub-nav-list .item .item-button span, .sub-nav-list .item .item-button i {
      opacity: .6; }
    .sub-nav-list .item .item-button .badge {
      background: #f44330;
      position: absolute;
      top: 50%;
      right: 16px;
      min-width: 20px;
      height: 20px;
      line-height: 20px;
      padding: 0 7px;
      font-size: 11px;
      font-weight: 700;
      border-radius: 20px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: opacity .2s ease-in-out .1s;
      transition: opacity .2s ease-in-out .1s;
      opacity: 1; }

.user-menu {
  height: 64px;
  padding: 0; }
  .user-menu .user-button {
    height: 64px;
    margin: 0;
    padding: 0 16px; }
    .user-menu .user-button .username {
      margin: 0 16px; }
    .user-menu .user-button i {
      line-height: 36px; }

.mobile-menu {
  height: 64px;
  line-height: 64px;
  margin: 0;
  padding: 0; }

.left-menu a {
  height: 64px !important;
  line-height: 64px;
  margin: 0;
  padding: 0;
  min-width: 64px !important; }
  .left-menu a md-icon {
    color: #000; }

/*子页面*/
.sub-page-header {
  background: #2baa3f url("../images/bg_header.png") no-repeat;
  background-size: 100%;
  padding: 24px;
  height: 140px;
  display: none; }
  .sub-page-header .breadcrumb {
    color: #fff;
    margin-bottom: 15px; }
    .sub-page-header .breadcrumb span {
      margin-top: 2px; }
    .sub-page-header .breadcrumb md-icon {
      color: #fff;
      margin: 0; }
  .sub-page-header .page-title {
    font-size: 34px;
    color: #fff; }
  .sub-page-header .back-list-title {
    font-size: 34px;
    color: #fff;
    position: relative;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s; }
    .sub-page-header .back-list-title:hover {
      cursor: pointer;
      transform: translateX(50px); }
      .sub-page-header .back-list-title:hover .back-list {
        opacity: 1;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        transform: translate(-50px, -50%); }
    .sub-page-header .back-list-title md-icon {
      color: #fff;
      margin-right: 15px; }
    .sub-page-header .back-list-title .back-list {
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: translate(30px, -50%);
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
    .sub-page-header .back-list-title .sub-list-title {
      font-size: 16px;
      margin-left: 15px; }

.sub-page-content, .dialog-page-container {
  width: 100%;
  height: 100%;
  padding: 24px;
  position: relative; }
  .sub-page-content .card, .dialog-page-container .card {
    padding: 24px; }
  .sub-page-content md-checkbox, .dialog-page-container md-checkbox {
    margin-bottom: 0 !important; }
  .sub-page-content .table-action, .dialog-page-container .table-action {
    background: #fff;
    border-bottom: 1px solid #ddd;
    height: 64px;
    line-height: 64px; }
    .sub-page-content .table-action a, .dialog-page-container .table-action a {
      cursor: pointer; }
    .sub-page-content .table-action .md-button, .dialog-page-container .table-action .md-button {
      margin: 0;
      width: 64px !important;
      height: 64px; }
    .sub-page-content .table-action .input, .dialog-page-container .table-action .input {
      border: 1px solid #ddd;
      padding: 5px;
      font-size: 14px; }
    .sub-page-content .table-action ._md-select-value, .dialog-page-container .table-action ._md-select-value {
      padding: 0;
      border-bottom: none; }
    .sub-page-content .table-action .search-panel-button, .dialog-page-container .table-action .search-panel-button {
      line-height: 64px; }

.dialog-page-container {
  width: 900px;
  padding: 0; }

.dialog-page-content {
  padding: 15px; }

.full-page-table {
  width: 100%;
  background: #fff;
  white-space: nowrap; }
  .full-page-table .table-header {
    height: 64px;
    line-height: 64px;
    border-bottom: 1px solid #ddd; }
    .full-page-table .table-header .header-item {
      height: 64px;
      line-height: 64px;
      text-align: left;
      padding-left: 24px;
      display: inline-block;
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative; }
      .full-page-table .table-header .header-item a {
        display: inline-block; }
        .full-page-table .table-header .header-item a:hover {
          cursor: pointer; }
    .full-page-table .table-header .table-enable {
      text-align: center;
      padding: 0 !important; }

.table-scroll {
  background: #fff;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex: 1 1 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.table-item-row {
  width: 100%;
  height: 64px;
  line-height: 64px;
  border-bottom: 1px solid #ddd; }
  .table-item-row:hover {
    background: #f5f5f5; }
  .table-item-row.selected {
    background: #999; }
  .table-item-row .table-enable {
    text-align: center;
    padding: 0 !important; }
  .table-item-row .table-item {
    color: #666;
    float: left;
    padding-left: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 15px; }
    .table-item-row .table-item .disable {
      color: #f44330; }
    .table-item-row .table-item .enable {
      color: #2baa3f; }
    .table-item-row .table-item .md-icon-button {
      margin: 0;
      display: inline-block;
      vertical-align: middle; }
    .table-item-row .table-item a {
      color: #2baa3f !important; }
      .table-item-row .table-item a:hover {
        cursor: pointer; }

.table-bottom {
  background: #fff;
  border-top: 1px solid #ddd;
  height: 64px;
  line-height: 64px;
  padding: 0 24px;
  position: relative;
  bottom: 0; }
  .table-bottom ._md-select-value {
    padding: 0;
    border-bottom: none; }
  .table-bottom .page-num {
    background: transparent;
    color: #000;
    display: inline-block;
    width: 40px;
    height: 64px;
    text-align: center;
    position: relative; }
    .table-bottom .page-num.current-page {
      color: #2baa3f;
      cursor: default;
      font-weight: 700; }
    .table-bottom .page-num.enable-page {
      color: #999;
      cursor: default; }
  .table-bottom .item-total {
    margin-left: 15px; }
    .table-bottom .item-total b {
      font-weight: normal;
      color: #2baa3f; }

.search-header-title {
  background: #fff;
  color: #000; }

.search-panel-list, .operate-form {
  padding: 0 16px; }
  .search-panel-list md-input-container, .operate-form md-input-container {
    height: 64px !important; }
  .search-panel-list .md-button, .operate-form .md-button {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    float: right; }
  .search-panel-list .search-time-label, .operate-form .search-time-label {
    color: #999;
    font-size: 16px; }
  .search-panel-list .md-datepicker-input-container, .operate-form .md-datepicker-input-container {
    width: 100% !important; }
  .search-panel-list .md-datepicker-button, .operate-form .md-datepicker-button {
    display: none; }
  .search-panel-list md-datepicker, .operate-form md-datepicker {
    margin-right: 0 !important;
    padding-right: 0 !important; }

.operate-form {
  background: #fff;
  height: 100%; }
  .operate-form .md-button {
    margin: 0 !important;
    padding: 0 8px !important; }

.data-list {
  width: 100% !important; }
  .data-list .list-item {
    border-bottom: 1px solid #ddd;
    margin: 18px 0;
    padding: 7px 0;
    overflow: hidden; }
    .data-list .list-item md-radio-button {
      margin-bottom: 0 !important; }
    .data-list .list-item label {
      font-weight: bold; }
    .data-list .list-item p {
      margin-top: 5px; }
    .data-list .list-item md-radio-button {
      float: left;
      margin-right: 10px; }

.page-loading {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background: rgba(0, 0, 0, 0.6); }
  .page-loading .loading-content {
    position: relative;
    background: #fff;
    width: 200px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12); }
    .page-loading .loading-content md-progress-circular {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

/*图表数据*/
.widget-wrapper {
  padding: 12px 12px 0 12px; }
  .widget-wrapper:last-child {
    margin-bottom: 15px; }

.widget-container {
  padding: 12px 12px 0 12px; }

.widget {
  background: #fff; }

.widget-header, .widget-bottom {
  height: 64px;
  border-bottom: 1px solid #ddd;
  padding: 0 15px; }
  .widget-header .md-button.md-icon-button, .widget-bottom .md-button.md-icon-button {
    width: 64px;
    height: 64px;
    margin: 0 !important; }
  .widget-header md-select, .widget-bottom md-select {
    margin: 0 !important; }
  .widget-header span, .widget-bottom span {
    font-weight: 700;
    line-height: 64px; }

.widget-middle {
  padding: 15px;
  width: 100%; }
  .widget-middle .total-num {
    text-align: center; }

.widget-bottom {
  border-bottom: none;
  border-top: 1px solid #ddd;
  line-height: 64px; }
  .widget-bottom .item {
    text-align: center;
    line-height: 64px;
    font-size: 14px; }
    .widget-bottom .item:first-child {
      border-right: 1px solid #ddd; }

.chart-no-bottom {
  height: 364px; }

.progress-container {
  color: #fff;
  padding-bottom: 15px; }
  .progress-container .widget-header, .progress-container .widget-bottom {
    border-bottom: none; }
    .progress-container .widget-header md-icon, .progress-container .widget-bottom md-icon {
      color: #fff !important; }
    .progress-container .widget-header .icon, .progress-container .widget-bottom .icon {
      display: inline-block;
      vertical-align: middle;
      margin: 0 5px 0 0 !important; }
  .progress-container .progress-total {
    font-size: 24px;
    margin-bottom: 10px; }
    .progress-container .progress-total span {
      opacity: .6; }
  .progress-container .progress-bar {
    height: 5px;
    background: rgba(255, 255, 255, 0.5); }
    .progress-container .progress-bar .progress-inner {
      height: 5px;
      width: 30%;
      background: white;
      transition: .5s all; }

/*自定义错误*/
.form-error {
  font-size: 12px; }

/*遮罩层*/
.panel-outer-wrapper {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999; }

.light-green {
  color: #2baa3f; }

.light-blue {
  color: #03a9f4; }

.light-red {
  color: #f44330; }

.light-yellow {
  color: #ff9800; }

.bg-green {
  background: #2baa3f; }

.bg-blue {
  background: #03a9f4; }

.bg-yellow {
  background: #ff9800; }

.bg-red {
  background: #f44330; }

.
/*录入会员*/
.avatar {
  margin-bottom: 30px; }
  .avatar img {
    width: 200px;
    height: 200px; }

.upload-avtar-container {
  width: 200px;
  margin: 0 auto; }
  .upload-avtar-container .default-avatar {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    display: block;
    overflow: hidden;
    position: relative; }
    .upload-avtar-container .default-avatar input[type='file'] {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 200px; }
    .upload-avtar-container .default-avatar img {
      max-width: 100%;
      height: auto; }
    .upload-avtar-container .default-avatar .upload-avatar-loading {
      width: 200px;
      height: 200px;
      border-radius: 100px;
      text-align: center;
      background: rgba(0, 0, 0, 0.7) !important;
      position: absolute;
      top: 0;
      left: 0; }
      .upload-avtar-container .default-avatar .upload-avatar-loading md-progress-circular {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
  .upload-avtar-container .btn-upload-img {
    margin: 10px 0 !important; }
  .upload-avtar-container .btn-carmera {
    margin-top: 15px !important; }

.details-label {
  font-size: 12px;
  position: relative !important; }

/*会员详情面板*/
.member-detail-panel {
  height: 900px;
  overflow: hidden; }
  .member-detail-panel .panel-header {
    padding-left: 16px;
    line-height: 64px;
    background: #2baa3f;
    color: #fff; }
    .member-detail-panel .panel-header .md-button {
      width: 64px;
      height: 64px; }
  .member-detail-panel .panel-content .default-avatar {
    margin-bottom: 30px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    overflow: hidden;
    display: block; }
    .member-detail-panel .panel-content .default-avatar img {
      width: 200px;
      height: 200px; }
  .member-detail-panel .panel-content .member-basic-info h2 {
    margin-bottom: 15px; }
  .member-detail-panel .panel-content .member-basic-info span {
    font-size: 14px; }
  .member-detail-panel .panel-content .member-basic-info p {
    margin-bottom: 5px;
    color: #999; }

/*储物柜*/
.locker-item {
  background: #fff;
  position: relative; }
  .locker-item .widget-middle {
    padding: 30px 16px; }
  .locker-item:hover {
    cursor: pointer; }
    .locker-item:hover .is-operate {
      display: block; }
    .locker-item:hover .is-hire, .locker-item:hover .is-operate {
      background: white; }

.is-hire, .is-operate {
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  z-index: 1; }
  .is-hire img, .is-operate img {
    width: 20%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.is-operate {
  display: none;
  background: rgba(255, 255, 255, 0.9);
  z-index: 2; }
  .is-operate .operate-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.locker-dialog {
  width: 500px; }

.lease-details {
  font-size: 14px;
  color: #666; }
  .lease-details p {
    margin-top: 5px; }

.global-search-container {
  font-size: 14px; }

.global-search-input {
  background: #fff;
  height: 64px;
  line-height: 64px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; }
  .global-search-input input {
    height: 64px;
    line-height: 64px;
    width: 100%;
    padding-left: 30px; }
  .global-search-input .close-global-search {
    margin: 0;
    height: 64px;
    line-height: 64px; }
    .global-search-input .close-global-search md-icon {
      color: rgba(0, 0, 0, 0.5) !important; }

.global-search-result {
  position: absolute;
  top: 64px;
  left: 2%;
  background: #fff;
  width: 96%;
  padding: 30px;
  overflow: hidden;
  z-index: 101; }
  .global-search-result .result-container {
    max-height: 400px;
    height: auto; }
  .global-search-result .no-result {
    position: relative;
    color: #999;
    padding-left: 30px; }
    .global-search-result .no-result .icon {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      margin: 0; }
  .global-search-result .loading md-progress-circular {
    margin: 0 auto; }
  .global-search-result .loading svg {
    width: 25px;
    height: 25px; }
  .global-search-result .result-type-title {
    font-weight: 700;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px; }
  .global-search-result .result-list {
    margin-top: 15px; }
    .global-search-result .result-list li {
      margin: 15px 0; }
      .global-search-result .result-list li a {
        color: #666; }
        .global-search-result .result-list li a:hover {
          color: #2baa3f; }
      .global-search-result .result-list li span {
        margin-right: 10px; }
    .global-search-result .result-list img {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      margin-right: 10px;
      vertical-align: middle; }

/*系统设置菜单*/
.system-setting-container {
  width: 100%;
  background: #fff;
  position: absolute;
  z-index: 2;
  transform: translateY(-250px);
  transition: .5s all; }
  .system-setting-container.show {
    transform: translateY(64px); }
  .system-setting-container ul {
    padding: 8px 0;
    overflow: hidden; }
  .system-setting-container li {
    width: 20%;
    float: left;
    text-align: center; }
  .system-setting-container .icon {
    width: 64px;
    height: 64px;
    margin-left: 25%; }
  .system-setting-container a {
    color: #999;
    width: 128px;
    height: auto !important; }
  .system-setting-container p {
    margin: 15px 0; }

.auth-action {
  padding: 30px;
  background: #fff; }

.auth-header {
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd; }

.auth-title {
  color: #2baa3f;
  font-weight: 700; }

.auth-inner-container {
  margin-top: 30px; }
  .auth-inner-container .auth-list-container {
    margin-top: 15px; }

/*# sourceMappingURL=global.css.map */
