<!DOCTYPE html>
<html lang="zh" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>好物快拍</title>
    <link rel="stylesheet" href="statics/css/global.css">
    <link rel="stylesheet" href="statics/css/angular-material.css">
    <link rel="stylesheet" href="statics/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" href="statics/css/material-icons.css">
    <script src="statics/js/lib/jquery/jquery.min.js"></script>
    <script src="statics/js/lib/jquery/jquery.mousewheel.js"></script>
    <script src="statics/js/lib/jquery/jquery.PrintArea.js"></script>
    <script src="statics/js/lib/angular/angular.min.js"></script>
    <script src="statics/js/lib/angular/angular-material.min.js"></script>
    <script src="statics/js/lib/angular-ui/angular-ui-router.min.js"></script>
    <script src="statics/js/lib/angular/angular-animate.min.js"></script>
    <script src="statics/js/lib/angular/angular-messages.min.js"></script>
    <script src="statics/js/lib/angular/angular-aria.min.js"></script>
    <script src="statics/js/lib/angular/angular-perfect-scrollbar.js"></script>
    <script src="statics/js/lib/angular/angular-use-form-error.js"></script>
    <script src="statics/js/lib/moment-with-locales.js"></script>
    <script src="statics/js/lib/ocLazyLoad.js"></script>
    <script src="statics/js/lib/highcharts.src.js"></script>
    <script src="statics/js/lib/angular/highcharts-ng.min.js"></script>
    <script src="statics/js/lib/ng-file-upload-all.min.js"></script>
    <script src="statics/js/app.js"></script>
    <script src="statics/js/router.js"></script>
    <script src="statics/js/directive.js"></script>

    <script src="statics/js/lib/angular/cookies.js"></script>
    <script src="statics/js/lib/angular/cookieWriter.js"></script>
    <script src="statics/js/lib/angular/cookieStore.js"></script>
    <script src="statics/js/lib/jquery/base64.js"></script>
</head>
<body class="layout-column">
<div ng-include="'template/page-loading.html'"></div>
<div class="layout-row flex" ui-view="main">
    <div class="login-wrapper">
        <div class="login-container layout-row md-whiteframe-10dp">

            <div class="flex-60 login-right">
                <span class="logo"></span>
                <form name="loginForm">
                    <div class="login-form">

                        <md-input-container class="md-block">
                            <label>用户名</label>
                            <input type="text"
                                   ng-model="login.userName"
                                   name="userName"
                                   required
                                   minlength="1"
                                   maxlength="10">
                            <div ng-messages="loginForm.userName.$error">
                                <div ng-message="required,minlength,maxlength">请输入有效的用户名</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" >
                            <label>登陆密码</label>
                            <input type="password"
                                   ng-model="login.passWord"
                                   name="passWord"
                                   required
                                   minlength="1"
                                   maxlength="10" id="adminPass">
                            <div ng-messages="loginForm.$error">
                                <div ng-message="required,minlength,maxlength">请输入登陆密码</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <md-button class="md-raised md-primary"
                                       ng-disabled="loginForm.$invalid"
                                       ng-click="validLogin(login,$event)" id="btnLogin" onkeydown="check(login,$event)">登陆</md-button>
                        </md-input-container>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>