<div class="widget-wrapper" ng-if="indexMain">
    <div class="layout-row flex">
        <div class=" flex-33 widget-container">
            <div class="widget md-whiteframe-1dp">
                <div class="widget-header layout-row">
                    <div class="layout-row flex">
                        <span>会员统计(人)</span>
                    </div>
                    <div class="layout-row">
                        <md-select ng-model="memberTotalSelect" class="md-no-underline" aria-label="日期选择"  >
                            <md-option ng-value="0" ng-click="searchMember(0)" ng-selected="selectDays==7">7天</md-option>
                            <md-option ng-value="1" ng-click="searchMember(1)" ng-selected="selectDays==30">30天</md-option>
                            <md-option ng-value="2" ng-selected="selectDays==0" ng-click="searchMember(2)">总计</md-option>
                        </md-select>
                    </div>
                </div>
                <div class="widget-middle">
                    <div class="total-num light-green">
                        <h1>{{memberTotal}}</h1>
                    </div>
                </div>
                <div class="widget-bottom layout-row">
                    <div class="flex-50 item">
                        昨：{{yestodays}}
                    </div>
                    <div class="flex-50 item">
                        今：{{todays}}
                    </div>
                </div>
            </div>
        </div>
        <div class=" flex-33 widget-container">
            <div class="widget md-whiteframe-1dp">
                <div class="widget-header layout-row">
                    <div class="layout-row flex">
                        <span>销售额统计(元)</span>
                    </div>
                    <div class="layout-row">
                        <md-select ng-model="salesTotalSelect" class="md-no-underline" aria-label="日期选择">
                            <md-option ng-value="0" ng-click="searchSalesMoney(0)" ng-selected="selectSalesDays==7">7天</md-option>
                            <md-option ng-value="1" ng-click="searchSalesMoney(1)" ng-selected="selectSalesDays==30">30天</md-option>
                            <md-option ng-value="2" ng-click="searchSalesMoney(2)" ng-selected="selectSalesDays==0" >总计</md-option>
                        </md-select>
                    </div>
                </div>
                <div class="widget-middle">
                    <div class="total-num light-red">
                        <h1>¥{{salesTotalMoney}}</h1>
                    </div>
                </div>
                <div class="widget-bottom layout-row">
                    <div class="flex-50 item">
                        昨：¥{{salesMoneyYesterday}}
                    </div>
                    <div class="flex-50 item">
                        今：¥{{salesMoneyToday}}
                    </div>
                </div>
            </div>
        </div>
        <!--<div class=" flex-25 widget-container">
            <div class="widget md-whiteframe-1dp">
                <div class="widget-header layout-row">
                    <div class="layout-row flex">
                        <span>储物柜统计(个)</span>
                    </div>
                    <div class="layout-row">
                        <md-button class="md-icon-button" ng-click="lockerRefresh()">
                            <md-tooltip>
                                刷新
                            </md-tooltip>
                            <md-icon md-font-set="md">refresh</md-icon>
                        </md-button>
                    </div>
                </div>
                <div class="widget-middle">
                    <div class="total-num light-blue">
                        <h1>{{lockerTotalNum}}</h1>
                    </div>
                </div>
                <div class="widget-bottom layout-row">
                    <div class="flex-50 item">
                        在租：{{currentRentNum}}
                    </div>
                    <div class="flex-50 item">
                        维修：{{fixNum}}
                    </div>
                </div>
            </div>
        </div>-->
        <div class=" flex-33 widget-container">
            <div class="widget md-whiteframe-1dp">
                <div class="widget-header layout-row">
                    <div class="layout-row flex">
                        <span>员工统计(人)</span>
                    </div>
                </div>
                <div class="widget-middle">
                    <div class="total-num light-yellow">
                        <h1>{{employeeNum}}</h1>
                    </div>
                </div>
                <div class="widget-bottom layout-row">
                    <div class="flex-50 item">
                        男性：{{employeeMail}}
                    </div>
                    <div class="flex-50 item">
                        女性：{{employeeWomen}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="widget-wrapper" ng-if="indexMain">
    <div class="layout-row">
        <div class="widget-container flex">
            <div class="md-whiteframe-1dp widget">
                <div class="widget-header layout-row">
                    <div class="layout-row flex">
                        <span>会员卡处理类型分布</span>
                    </div>
                    <div class="layout-row">
                        <md-button class="md-icon-button" ng-click="memberStatisticsProcess()">
                            <md-tooltip>
                                刷新
                            </md-tooltip>
                            <md-icon md-font-set="md">refresh</md-icon>
                        </md-button>
                    </div>
                </div>

                <div class="widget-middle">
                    <highchart config="memberCardProccessTypeChartConfig"></highchart>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="widget-wrapper" ng-if="indexMain">
    <div class="layout-row flex">
        <div class="flex-25 widget-container">
            <div class="widget md-whiteframe-1dp progress-container bg-green">
                <div class="widget-header layout-row">
                    <div class="layout-row flex">
                        <span><i class="icon icon-almost-expire-member-list"></i> 即将过期会员分布</span>
                    </div>
                    <div class="layout-row">
                        <md-button class="md-icon-button" ng-click="memberRefresh()">
                            <md-tooltip>
                                刷新
                            </md-tooltip>
                            <md-icon md-font-set="md">refresh</md-icon>
                        </md-button>
                    </div>
                </div>
                <div class="widget-middle">
                    <p class="progress-total">{{comingExpire}}人<span>&nbsp;/&nbsp;{{memberTotalNum}}人</span></p>
                    <div class="progress-bar">
                        <div class="progress-inner" style="width:{{(comingExpire/memberTotalNum)*100}}%"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-25 widget-container">
            <div class="widget md-whiteframe-1dp progress-container bg-blue">
                <div class="widget-header layout-row">
                    <div class="layout-row flex">
                        <span><i class="icon icon-expire-member-list"></i>已过期会员分布</span>
                    </div>
                    <div class="layout-row">
                        <md-button class="md-icon-button" ng-click="memberRefresh()">
                            <md-tooltip>
                                刷新
                            </md-tooltip>
                            <md-icon md-font-set="md">refresh</md-icon>
                        </md-button>
                    </div>
                </div>
                <div class="widget-middle">
                    <p class="progress-total">{{expireMember}}人<span>&nbsp;/&nbsp;{{memberTotalNum}}人</span></p>
                    <div class="progress-bar">
                        <div class="progress-inner" style="width:{{(expireMember/memberTotalNum)*100}}%"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="flex-25 widget-container">
            <div class="widget md-whiteframe-1dp progress-container bg-yellow">
                <div class="widget-header layout-row">
                    <div class="layout-row flex">
                        <span><i class="icon icon-locker-list"></i>储物柜出租分布</span>
                    </div>
                    <div class="layout-row">
                        <md-button class="md-icon-button" ng-click="lockerRefresh()">
                            <md-tooltip>
                                刷新
                            </md-tooltip>
                            <md-icon md-font-set="md">refresh</md-icon>
                        </md-button>
                    </div>
                </div>
                <div class="widget-middle">
                    <p class="progress-total">{{currentRentNum}}个<span>&nbsp;/&nbsp;{{lockerTotalNum}}个</span></p>
                    <div class="progress-bar">
                        <div class="progress-inner" style="width:{{(currentRentNum/lockerTotalNum)*100}}%"></div>
                    </div>
                </div>
            </div>
        </div> -->
        <!--<div class="flex-25 widget-container">-->
        <!--<div class="widget md-whiteframe-1dp progress-container bg-red">-->
        <!--<div class="widget-header layout-row">-->
        <!--<div class="layout-row flex">-->
        <!--<span><i class="icon icon-locker-list"></i>会员卡充值分布</span>-->
        <!--</div>-->
        <!--<div class="layout-row">-->
        <!--<md-button class="md-icon-button" ng-click="rechargeTimesRefresh()">-->
        <!--<md-tooltip>-->
        <!--刷新-->
        <!--</md-tooltip>-->
        <!--<md-icon md-font-set="md">refresh</md-icon>-->
        <!--</md-button>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="widget-middle">-->
        <!--<p class="progress-total">{{rechargeTimes}}次<span>&nbsp;/&nbsp;{{rechargeTimesTotal}}次</span></p>-->
        <!--<div class="progress-bar">-->
        <!--<div class="progress-inner" style="width:{{(rechargeTimes/rechargeTimesTotal)*100}}%"></div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</div>