<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminAccountMapper">
    <!--
    <select id="queryPage" resultType="product">
        SELECT u.id, u.username, u.password, u.email, u.useable, u.addtime, u.logintime, u.loginip FROM t_user u
    </select>

    <select id="queryById" resultType="product">
        SELECT u.id, u.username, u.password, u.email, u.useable, u.addtime, u.logintime, u.loginip FROM t_user u where u.id = #{id}
    </select>
    -->
    <insert id="addadminAccount">
		insert into b_product( product_id, cover, pro_name, pro_abstract,pro_introduction,pro_original_price
		,express_fee,is_active,created_user,created_time,modified_user,modified_time)
		values(#{productId}, #{cover}, #{proName}, #{proAbstract},#{proIntroduction }
		,#{proOriginalPrice},#{expressFee},#{isActive},#{ createdUser},#{createdTime},#{modifiedUser },#{modifiedTime})
	</insert>

    <update id="updateProduct">
		update b_product set product_id = #{productId}, cover = #{cover}, pro_name = #{proName},pro_abstract=#{proAbstract},
		,pro_introduction=#{proIntroduction},pro_original_price=#{proOriginalPrice},
		express_fee=#{expressFee},is_active=#{isActive},created_user=#{createdUser},created_time=#{createdTime}
		,modified_user=#{modifiedUser},modified_time=#{modifiedTime} where id = #{id}
	</update>

    <delete id="deleteProduct">
        delete from b_product where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>